.App {
  display: flex;
}

.App form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  margin: 50px auto;
  border-radius:10px 
}

label {
  display: flex;
  padding: 10px;
}
label input {
  margin-left: 20px;
}

button {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}